:root {
    --background-row: #006CFA;
    --white: #ffffff;
}

html {
    font-size: 100%;
}

.row {
    background-color: var(--background-row);
    height: 70px;
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
}

.row span {
    color: var(--white);
}