:root {
    --background-row: #006CFA;
    --white: #ffffff;
    --background-nested-row: #01E165;
}

html {
    font-size: 100%;
}

.row {
    background-color: var(--background-row);
    height: 70px;
}

.nested.row {
    margin: 10px;
    height: 50px;
    border: 0;
    background-color: var(--background-nested-row);
}

.row div {
    border: 1px solid var(--white);
    height: 100%;
    text-align: center;
}

.nested.row div {
    border: 1px solid var(--background-row);
}

.row span {
    line-height: 70px;
    color: var(--white);
}

.nested.row span {
    line-height: 50px;
}

