:root {
    --red: #F90201;
    --brown: #783F04;
    --orange: #FC9A00;
    --blue: #072FFF;
    --black: #000000;
}

html {
    font-size: 100%;
}

.row {
    height: 50px;
}

.container {
    width: 600px;
    margin: 2em auto;
}

.red {
    background-color: var(--red);
}

.brown {
    background-color: var(--brown);
}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}

.black {
    background-color: var(--black);
}